*{
  box-sizing: border-box;
}

.account-dropdown {
  position: relative;
   /* border: 2px solid red; */
   
   /* height: 40px; */
   /* display: flex; */
   /* align-items: center; */
  /* height: 10vh; */
  /* display: inline-block; */
  /* margin-left: 0px; */
}
.account-dropdown:hover{
   color:#f78503;
}
.account-button {
  background-color: white;
  /* padding: 4px 10px; */
  /* height: 80px; */
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  gap: 7px;
  display: flex;
 
  /* align-items: center; */
}
.account-button h3:hover{
  color:#f78503; 
}
.account-button-alt {
  background-color: #f0f0f0;
  height: 50px;
  /* padding: 7px 10px; */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0px;
  /* font-weight: bold; */
  /* gap: 7px; */
  /* display: flex; */
  /* align-items: center; */
}
.account-button .caret {
  margin-left: 5px;
}
.dropdown-menu {
  margin-top: 7px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: -40px;
  background: white;
  width: 210px;
  /* height: 80%; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 4px;
  /* padding: 10px 0; */
}
.sign-in {
  width: 85%;
  padding: 12px;
  background:#f78503;
  color: White;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 6px 2px rgb(0, 0, 0, 0.02);
  
}
.sign-in:hover{
  cursor: pointer;
  /* background-color: aqua; */
  background: rgb(214, 115, 1);
}
.box-signin{
  width: 100%;
  /* border: 2px solid red; */
  padding-top: 15px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(233, 232, 232);
  padding-bottom: 15px;
}
.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: grey;
}
.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.2s;
}
.dropdown-menu li:hover{
  background-color: #f0f0f0;
  color: none;
}
.dropdown-menu svg {
  margin-right: 8px;
}
.account{
 display: flex;
 align-items: center;
 gap: 20px;
 /* font-size: 15px; */
}
.account .account-button:hover{
  /* color: #f57224; */
}
h3{
  font-weight: 100;
}
